/*Font*/
.font-inter {
   font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Navbar Styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px 16px 120px;
    background-color: #ffffff;
    height: 92px;
    width: 100%;
}
nav .menu{
    display: flex;
    gap: 32px;
    list-style-type: none;
    align-items: center;
}
nav .menu li a{
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 152%;
    color: #000000;
}
.button {
    padding: 12px 16px 12px 16px;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    gap: 10px;
    cursor: pointer;
    height: 44px;
    width: 164px;
    display: flex;
}

.button button {
    background-color:#469165;
    border: none;
    color: white;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    font-style: semibold;
}
.menu1 {
    display: flex;
    gap: 32px;
    list-style-type: none;
}

/* Body Styles */
.image {
    height: 100px;
    width: fit-content;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.badge {
    background-color: #E6F4EA;
    border-radius: 32px;
    color: #469165;
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    padding: 8px 12px 8px 28px;
    align-items: center;
    margin-left: 685.5px;
    margin-right: 685;
}
.badge-dot {
    background-color: #469165;
    border-radius: 8px;
    height: 16px;
    width: 16px;
    margin-right: 8px;
}
.one {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0px 120px 0px 120px;
    gap: 16px;
    margin-top: 32px;
    opacity: 90%;
    font-weight: 700;
    font-style: Bold;
    font-size: 72px;
    line-height: 84px;
    letter-spacing: 0;
    color: #ffffff;
}
.subone {
    font-weight: 700;
    font-size: 72px;
    line-height: 24px;
    font-style: Bold;
    line-height: 84px;
    color: #469165;
    
}
.paragraph {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    font-style: Regular;
    opacity: 90%;
    margin-top: 16px;
    padding: 10px 20px 10px 20px;
    max-width: 800px;
    margin: 16px auto 0 auto;
}
.actions {
    display: flex;
    gap: 16px;
    margin-top: 32px;
    justify-content: center;
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 52px;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 4px;
    color: #ffffff;
}
.btn_primary {
    background: #469165;
    width: 251px;
}
.btn_secondary {
    border: 1px solid #ffffff;
    width: 198px;
}
.arrow {
    font-size: 18px;
}

.features1 {
    display: flex;
    flex-direction: column;
    padding: 200px 120px 100px 120px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    width: 100%;
}


.features-title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 12px;
    color: #001931
}


.features-subtitle {
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    margin-bottom: 44px;
}


.cards {
    display: flex;
    gap: 24px;
    justify-content: center;
    flex-wrap: wrap;
}


.card {
    background:#f7fef9;
    color: #0b2c4d;
    width: 260px;
    padding: 32px 24px;
    border-radius: 8px;
    text-align: center;
    
}


.icon {
    width: 56px;
    height: 56px;
    background: #ff5a5a;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
    font-size: 24px;
}


.card h3 {
    font-size: 20px;
    margin-bottom: 12px;
}

.card p {
    font-size: 14px;
    color: #6b7a90;
    line-height: 1.5;
}
.solution {
    padding: 80px 40px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 60px;
}


.image-box {
    width: 600px;
}


.content {
    max-width: 520px;
}

.label {
    font-size: 16px;
    color: #30B868;
    font-weight: 500;
    letter-spacing: 0px;
}
.content h2 {
    font-size: 48px;
    margin: 16px 0;
    font-weight: 700;
    color: #001931;
    line-height: 100%;
}

.description {
    font-size: 16px;
    color: #627382;
    font-weight: 400;
    margin-bottom: 24px;
    line-height: 20px;
}
.features {
    list-style: none;
    font-size: 16px;
    font-weight: 500;
    font-style: medium;
    color: #001931;
    padding: 0;
    margin-top: 24px;
}
.features li {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 18px;
    font-size: 16px;
    color: #0b2c4d;
    line-height: 1.5;
}
.features li img {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}
.footer {
    background-color: #001931;
    padding: 40px 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.footer-logo {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-decoration: none;
}
.social {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    display: flex;
    gap: 16px;
}
.footer-bottom {
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer-bottom p {
    margin: 0;
    white-space: nowrap;
}

/* Footer Styles */