/*Font*/
.font-inter {
   font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Navbar Styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px 16px 120px;
    background-color: #ffffff;
    height: 92px;
    width: 100%;
    border: #469165 1px solid;
}
nav .menu{
    display: flex;
    gap: 32px;
    list-style-type: none;
    align-items: center;
}
nav .menu li a{
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 152%;
    color: #000000;
}
.button {
    padding: 12px 16px 12px 16px;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    gap: 10px;
    cursor: pointer;
    height: 44px;
    width: 164px;
    display: flex;
}

.button button {
    background-color:#469165;
    border: none;
    color: white;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    font-style: semibold;
}
.menu1 {
    display: flex;
    gap: 32px;
    list-style-type: none;
    align-items: center;
    
    
}

/* Body Styles */
/* Footer Styles */